/* Fonts */


/* Variables */
    :root {

    }

/* Common */
    * {
        margin: 0;
        padding: 0;
    }

/* Homescreens */
    .hs_spin {
        position: fixed;
        width: 100vw;
        height: 100vh;
        animation: spin 60s linear infinite;s
    }
	@keyframes spin {
		100% { transform: rotate(360deg); }
	}
    .homescreens {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .homescreens span {
        display: inline-block;
        width: calc(100vh * 0.9);
        height: 100px;
        max-width: calc(100vw * 0.9);
        position: absolute;
        left: 50%;
        top: 50%;
    }
