/* Settings */
    select,
    button,
    #hs3d-art a {
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        padding: 4px;
        background: var(--bg);
        border-radius: var(--borad);
        border: none;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
    }
    button:active {
        opacity: 0.8;
    }
    #hs-list {
        width: 100px;
    }

/* Coords */
    #coords tr td:nth-child(2) {
        font-family: 'SF Mono';
        text-align: right;
    }

/* HS 3D */
    #hs-3d {
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
    }
    #hs-3d-box {
        position: relative;
        transform-style: preserve-3d;
    }
    #hs-3d-box img,
    #hs-3d-box iframe {
        pointer-events: none;
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: 70vw;
        max-height: 50vh;
        border: none;
        background: none;
    }
    #hs-3d-box iframe {
        width: calc(50vh * 0.5632);
        height: 50vh;
    }
    #hs-3d-box #middle {
        transform: translate(-50%, -50%);
    }
    #hs-3d-box #left {
        transform:
            translate(-100%, -50%)
            translateZ(-35vw)
            rotateY(-90deg);
    }
    #hs-3d-box #right {
        transform:
            translate(0%, -50%)
            translateZ(-35vw)
            rotateY(90deg);
    }

/* Homescreen World */
    #hs-3d-box span {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: inline-block;
        background: center/contain no-repeat;
    }

@media screen and (min-width: 1000px) {
    #do3d[open]  {
        width: 50vw;
    }
    #do3d details[lv="2"] {
        display: inline-block;
        vertical-align: top;
        width: calc(100% / 2 - 10.5px);
    }
}
