/* Fonts */


/* Variables */
    :root {

    }

/* Common */
    * {
        margin: 0;
        padding: 0;
    }

/* Homescreens */
    .homescreens {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
    }
    .homescreens span {
        display: inline-block;
        width: calc(100% / 4);
        height: calc(100vw / 4 * 1.7757);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
