/* Fonts */
    @import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');

/* Common */
    * {
        margin: 0;
        padding: 0;
    }
    body {
        padding: 60px 0 0 0;
        background: #000;
    }

/* Title */
    h1, h6 {
        position: relative;
        z-index: 1;
        text-align: center;
        font-family: 'Sedgwick Ave Display', cursive;
        color: #fff;
    }
    h1 {
        text-shadow: 0 0 10px rgba(255,255,255, 0.4);
        line-height: 50px;
    }
    h6 {
        line-height: 0px;
        opacity: 0.5;
    }

/* Gallery */
    .container {
        position: fixed;
        left: 50%;
        top: 50%;
        perspective: 200px;
        transform:
            translate(-50%, -50%)
            scale(4);
        width: 200px;
        height: 200px;
    }
    .container.blurred {
        filter:
            blur(5px)
            saturate(1.8);
        opacity: 0.4;
    }

    .gallery {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transform: translateZ(-100px);
    }

    .wall {
        position: absolute;
        border: 2px solid #000;
        background: #000;
        text-align: center;
    }
    .wall.left {
        width: 196px;
        height: 196px;
        transform:
            rotateY(-90deg)
            translateZ(100px);
    }
    .wall.right {
        width: 196px;
        height: 196px;
        transform:
            rotateY(90deg)
            translateZ(100px);
    }
    .wall.back {
    width: 196px;
    height: 196px;
    transform:
        rotateY(-180deg)
        translateZ(100px);
}

/* iframe */
    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
    .wall.left iframe,
    .wall.right iframe {
        position: absolute;
        left: 0;
        top: 0;
    }
    .wall.right iframe {
    transform: scale(-1, 1);
}
