/* Fonts */
    @font-face {
        font-family: 'SFPD';
        src: url('../fonts/SF-Pro-Display-Regular.otf');
    }
    @font-face {
        font-family: 'SFPD Bold';
        src: url('../fonts/SF-Pro-Display-Bold.otf');
    }

/* Variables */
    :root {

    }

/* Common */
    * {
        margin: 0;
        padding: 0;
        font-family: 'SFPD';
        font-size: 1em;
    }
    a,
    select:not(#size) {
        cursor: pointer;
        outline: none;
        border: none;
        text-decoration: none;
        color: red;
    }
    a:hover {
        text-decoration: underline;
    }
    input[type="text"] {
        outline: none;
        border: none;
        padding: 4px;
        border-radius: 3px;
        background: rgba(255,255,255, 0.7);
        text-align: center;
    }

/* Homescreens */
    #homescreens .hs {
        display: inline-block;
        float: left;
        width: calc(100vw / 15);
        height: calc(100vw / 15);
        background: center/cover no-repeat;
    }

/* Navigation */
    #nav {
        position: fixed;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);
        padding: 10px;
        min-width: 280px;
        max-height: 90vh;
        overflow: scroll;
        border-radius: 4px 4px 0 0;
        background: #fff;
    }
    #nav > summary {
        width: 100%;
        font-size: 24px;
    }
    summary {
        cursor: pointer;
        outline: none;
        font-family: 'SFPD Bold';
    }
    #nav details {
        margin: 10px 0 0 0;
        padding: 4px;
        border-radius: 4px;
        background: rgba(255,0,0, 0.1);
    }
    #nav details table {
        margin: 0 auto;
    }
    #nav details table td {
        padding: 2px;
    }
    #totals {
        text-align: center;
    }

/* Art */
    #art {
        text-align: center;
    }
    #art select {
        -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
    }
    #art select,
    #art a {
        padding: 4px;
        border-radius: 4px;
        background: red;
        color: #fff;
    }
    #art select:hover,
    #art a:hover {
        text-decoration: none;
    }

/* Uploader */
    #uploader {
        text-align: center;
    }
    #upload {
        cursor: pointer;
        width: 50px;
        padding: 25px;
        border-radius: 3px;
        background:
            rgba(255,255,255, 0.7)
            center/cover no-repeat;
    }
    #formReader {
        display: none;
    }
    #error {
        display: none;
    }
    #error td {
        font-family: monospace;
        background: rgba(255,255,255, 0.7);
        color: red;
    }
