/* Fonts */

/* Variables */
    :root {

    }

/* Common */
    * {
        margin: 0;
        padding: 0;
    }
    body {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: #000;
    }

/* CSS Grid */
    body {
        display: grid;
        grid-template-areas:
            'left right';
        grid-template-columns:
            50% 50%;
        grid-template-rows:
            100%;
    }
    .left { grid-area: left; }
    .right { grid-area: right; }
    .center { grid-area: center; }

    body#choice {
        display: grid;
        grid-template-areas:
            'left center right';
        grid-template-columns:
            28% 44% 28%;
        grid-template-rows: 1fr;
    }

/* Walls */
    article {
        position: relative
    }
    iframe {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border: none;
    }

/* CHOICE */
    #choice article.left iframe,
    #choice article.right iframe {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(.7)
    }
    #choice .dv {
        animation: appear 30s ease-out infinite
    }
    @keyframes appear {
        0% { opacity: 1; }
        25% { opacity: 1; }
        27% {opacity: 0; }
        75% { opacity: 0; }
        77% { opacity: 1; }
        100% { opacity: 1; }
    }
