/* Fonts */

/* Variables */
    :root {

    }

/* Common */
    * {
        margin: 0;
        padding: 0;
    }

/* Homescreens */
    .homescreens {
        border-collapse: collapse;
        overflow: scroll;
    }
    .homescreens td {
        vertical-align: top;
    }
    .homescreens td img {
        float: left;
        width: 100%;
    }
