/* Fonts */


/* Variables */
    :root {

    }

/* Common */
    * {
        margin: 0;
        padding: 0;
    }

/* Homescreens */
    .homescreens {
        margin: 0 auto;
        width: 100vw;
        height: 100vh;
    }
    .homescreens span {
        display: inline-block;
        width: calc(100vh * 0.9 * 0.5632);
        height: calc(100vh * 0.9);
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 0;
        transform: translate(-50%, -50%);
    }
    .homescreens.iX span {
        width: calc(100vh * 0.9 * 0.4618);
        height: calc(100vh * 0.9);
    }
